body {
    background: blanchedalmond;
}

.wrapper {
    text-align: center;
}

.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.center{
    margin-left: auto;
    margin-right: auto; 
}